/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f1f1f1;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 30px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 40px 0;
  }
  
  #banner {
    background-image: url('https://wallpaperaccess.com/full/4433940.jpg');
    background-size: cover;
    background-position: center;
    color: #0d0d0d;
    text-align: center;
    padding: 80px 0;
  }
  
  #banner h2 {
    display: inline-block;
    background-color: #07248b;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    transition: opacity 0.3s ease;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #banner p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .product-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .product-card p {
    margin-bottom: 20px;
  }
  
  .service-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .service-card i {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .service-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .service-card p {
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    transition: opacity 0.3s ease;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  #contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  #contact form input,
  #contact form textarea {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  #contact form textarea {
    height: 100px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  